@import "component/CreateUserPage/create-user-page.css";

.duals-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.button-1 {
    margin-left: 10px;
}

.button-2 {
    margin-right: 10px;
}